<header class="site-header">
  <div class="header-container">
    <!-- Left Section -->
    <div class="brand">
      <img src="static/images/logo.svg" alt="QuantumEase Logo" class="logo">
      <div class="company-name">
        <h1>QuantumEase Technologies Pvt. Ltd.</h1>
      </div>
    </div>

    <!-- Navigation -->
    <nav class="nav-links">
        <!-- Navigation items will be dynamically inserted here -->
    </nav>


    <!-- Mobile Menu Toggle -->
    <div class="menu-toggle" id="menu-toggle">
      ☰
    </div>
  </div>
</header>
